// stylelint-disable selector-no-qualifying-type

:root {
  @each $color, $value in $ui-colors {
    --#{$color}: $value;
  }
}

// Reset CSS
@import "reset";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
}

a,
a:active,
a:hover,
a:focus {
  color: $primary-color;
  text-decoration: none;
}

b,
strong {
  font-weight: $text-weight-semibold;
}

abbr[title] {
  cursor: help;
  border-bottom: 2px dashed $ui-yellow;
}

mark {
  color: inherit;
  background-color: $text-highlight-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-bottom: 1rem;
  font-family: $body-headings-family;
  font-weight: 300;
  line-height: 1.1;

  & > span {
    font-size: $body-font-size;
  }
}

h1 {
  min-height: 1rem;
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

small {
  padding-left: 4px;
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -.5em; }
sub { bottom: -.25em; }

pre {
  overflow: auto;
  white-space: pre-wrap;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

hr {
  margin-top: 34px;
  margin-bottom: 32px;
  border-bottom: 2px solid $gray-40;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  border: 0;
}

footer {
  padding: 20px 60px;
  margin-top: 40px;
  color: $body-color;
  background-color: $primary-color;
}

.wrapper {
  margin-left: 4em;
}

.is-responsive {
  width: 100%;
  max-width: 100%;
}

.clearfix {
  overflow: auto;
  zoom: 1;

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
