// Reset CSS
@import "reset";

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $body-color;
  width: $site_width;
  margin: 0;
  line-height: $body_line_height;
  -webkit-font-smoothing: antialiased;
}

a,
a:active,
a:hover,
a:focus {
  color: $ui-primary;
  text-decoration: none;
}

hr {
  border-bottom: 2px solid $gray-400;
  margin-top: 34px;
  margin-bottom: 32px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  border: 0;
  // &.omusubi {
  //   @include border-radius(50%);
  // }
}

footer {
  padding: 20px 60px;
  margin-top: 40px;
  background-color: $ui-primary;
  color: $body-color;
}

// Customize selection
::-webkit-selection {
  background-color: $selection-bg;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: $selection-bg;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: $selection-bg;
  color: rgba(0, 0, 0, 0.87);
}

.wrapper {
  margin-left: 4em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
