.teriyaki {
  border: none !important;
  outline-width: 2px;
  outline-style: dashed;

  &:hover {
    border: none !important;
  }
}

.omusubi {
  @include border-radius(2px);
}

.onigiri {
  @include border-radius(50%);

  @each $size, $value in $onigiri-sizes {
    &-#{$size} {
      @include border-radius(50%);
      font-size: $value;
    }
  }
}

.has-shadow {
  @include box-shadow($shadow-default);
}
