// Table of Contents
//
// Colors
// Options
// Spacing
// Breakpoints
// Body
// Typography
// Grids
// Menus
// Okaeri
// Tooltips
// Forms
// Progress
// Badges

//
// Colors
//

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grayscale: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$ui-primary:     hsl(202, 67%, 57%) !default;
$ui-secondary:   hsl(0, 0%, 60%) !default;
$ui-red:         hsl(0, 79%, 72%) !default;
$ui-black:       hsl(0, 0%, 33%) !default;
$ui-green:       hsl(145, 63%, 49%) !default;
$ui-brown:       hsl(0, 25%, 65%) !default;
$ui-orange:      hsl(17, 100%, 74%) !default;
$ui-purple:      hsl(260, 60%, 65%) !default;
$ui-yellow:      hsl(51, 100%, 39%) !default;
$ui-pink:        hsl(351, 100%, 86%) !default;
$ui-darkgreen:   hsl(146, 50%, 36%) !default;
$ui-cyan:        hsl(203, 92%, 76%) !default;

$ui-colors: (
  primary:      $ui-primary,
  secondary:    $ui-secondary,
  red:        $ui-red,
  black:      $ui-black,
  green:      $ui-green,
  brown:      $ui-brown,
  orange:     $ui-orange,
  purple:     $ui-purple,
  yellow:     $ui-yellow,
  pink:       $ui-pink,
  darkgreen:  $ui-darkgreen,
  cyan:       $ui-cyan,
  white:      $white
) !default;

//
// Options
//

$solids:      true !default;
$shadows:     true !default;
$rounded:     true !default;
$transitions: true !default;

//
// Spacing
//

// CAUTION! Editing this changes $spacers list and
// all $component-padding lists below
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  auto: auto
) !default;

//
// Breakpoints
//

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//
// Body
//

$body-bg:       $white !default;
$body-color:    $gray-900 !default;

// Component sizes and metrics
$site_width: 100% !default;
$container_margins: 156px !default;
$body_line_height: 1.8125em !default;
$navs_font_size: 14px !default;

//
// Typography
//

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-headings: "Source Sans Pro", sans-serif !default;
$font-size: 14px !default;

$text-size: 1rem !default;
$text-sizes: (
  1: $text-size,
  2: ($text-size * 1.25),
  3: ($text-size * 1.5)
) !default;

//
// Grids
//

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-cols: 12 !default;
$grid-spacing: 140px !default;

//
// Menus
//

$menu-tabs-hover-bg: rgba(10, 10, 10, 0.1) !default;

//
// Okaeri
//

$okaeri-bg: $gray-200 !default;

//
// Tooltips
//

$tooltip-bg: $gray-700 !default;
$tooltip-color: $white !default;

$tooltip-z: 100 !default;

//
// Forms
//

$input-border: $ui-secondary !default;
$placeholder-color: $ui-secondary !default;

// Progress

$progress-bg: $gray-400 !default;

// Badges

$badge-padding: (
  nth($spacers, 2),
  nth($spacers, 3),
  nth($spacers, 4)
) !default;

//
// Remixes
//

// Shadow - no name for this
$shadow-default: 0 2px 3px rgba(10, 10, 10, 0.1) !default;

// Onigiri
$onigiri-size: 2rem;
$onigiri-sizes: (
  1: $onigiri-size,
  2: $onigiri-size * 1.5
) !default;
