@font-face {
	font-family: 'batch';
	src:url('../fonts/batch.eot');
	src:url('../fonts/batch.eot?#iefix') format('embedded-opentype'),
		url('../fonts/batch.woff') format('woff'),
		url('../fonts/batch.ttf') format('truetype'),
		url('../fonts/batch.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'batch';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // Icons
    &.icon-left-bubble:before { content: "\F000"; }
    &.icon-center-bubble:before { content: "\F001"; }
    &.icon-right-bubble:before { content: "\F002"; }
    &.icon-left-text-bubble:before { content: "\F003"; }
    &.icon-center-text-bubble:before { content: "\F004"; }
    &.icon-right-text-bubble:before { content: "\F005"; }
    &.icon-left-black-bubble:before { content: "\F006"; }
    &.icon-center-black-bubble:before { content: "\F007"; }
    &.icon-right-black-bubble:before { content: "\F008"; }
    &.icon-left-bubbles:before { content: "\F009"; }
    &.icon-right-bubbles:before { content: "\F00A"; }
    &.icon-window:before { content: "\F00B"; }
    &.icon-window-plus:before { content: "\F00C"; }
    &.icon-window-minus:before { content: "\F00D"; }
    &.icon-window-cross:before { content: "\F00E"; }
    &.icon-window-upload:before { content: "\F010"; }
    &.icon-window-download:before { content: "\F011"; }
    &.icon-console:before { content: "\F012"; }
    &.icon-windows:before { content: "\F013"; }
    &.icon-window-alt:before { content: "\F014"; }
    &.icon-window-plus-alt:before { content: "\F015"; }
    &.icon-window-minus-alt:before { content: "\F016"; }
    &.icon-window-cross-alt:before { content: "\F017"; }
    &.icon-window-upload-alt:before { content: "\F018"; }
    &.icon-window-download-alt:before { content: "\F019"; }
    &.icon-console-alt:before { content: "\F01A"; }
    &.icon-windows-alt:before { content: "\F01B"; }
    &.icon-frames:before { content: "\F01C"; }
    &.icon-frame-plus:before { content: "\F01D"; }
    &.icon-frame-minus:before { content: "\F01E"; }
    &.icon-frame-alt:before { content: "\F020"; }
    &.icon-frame-plus-alt:before { content: "\F021"; }
    &.icon-frame-minus-alt:before { content: "\F022"; }
    &.icon-frame-upload-alt:before { content: "\F023"; }
    &.icon-frame-download-alt:before { content: "\F024"; }
    &.icon-crate:before { content: "\F025"; }
    &.icon-grid:before { content: "\F026"; }
    &.icon-grid-alt:before { content: "\F027"; }
    &.icon-list:before { content: "\F028"; }
    &.icon-list-alt:before { content: "\F029"; }
    &.icon-right-in:before { content: "\F02A"; }
    &.icon-left-out:before { content: "\F02B"; }
    &.icon-down-in:before { content: "\F02C"; }
    &.icon-up-out:before { content: "\F02D"; }
    &.icon-share:before { content: "\F02E"; }
    &.icon-align-justify:before { content: "\F030"; }
    &.icon-align-left:before { content: "\F031"; }
    &.icon-align-center:before { content: "\F032"; }
    &.icon-align-right:before { content: "\F033"; }
    &.icon-align-justify-alt:before { content: "\F034"; }
    &.icon-align-left-alt:before { content: "\F035"; }
    &.icon-align-center-alt:before { content: "\F036"; }
    &.icon-align-right-alt:before { content: "\F037"; }
    &.icon-volume-without:before { content: "\F038"; }
    &.icon-volume-mute:before { content: "\F039"; }
    &.icon-volume-low:before { content: "\F03A"; }
    &.icon-volume-high:before { content: "\F03B"; }
    &.icon-brightness:before { content: "\F03C"; }
    &.icon-brightness-low:before { content: "\F03D"; }
    &.icon-contrast:before { content: "\F03E"; }
    &.icon-image:before { content: "\F040"; }
    &.icon-video:before { content: "\F041"; }
    &.icon-video-alt:before { content: "\F042"; }
    &.icon-user-alt:before { content: "\F043"; }
    &.icon-user-profile:before { content: "\F044"; }
    &.icon-user-profiles:before { content: "\F045"; }
    &.icon-user-circle:before { content: "\F046"; }
    &.icon-user-square:before { content: "\F047"; }
    &.icon-user-square-alt:before { content: "\F048"; }
    &.icon-heart:before { content: "\F049"; }
    &.icon-heart-medium:before { content: "\F04A"; }
    &.icon-heart-alt:before { content: "\F04B"; }
    &.icon-cog-alt:before { content: "\F04C"; }
    &.icon-cog:before { content: "\F04D"; }
    &.icon-cogs:before { content: "\F04E"; }
    &.icon-flask:before { content: "\F050"; }
    &.icon-flask-alt:before { content: "\F051"; }
    &.icon-toggle-up:before { content: "\F052"; }
    &.icon-toggle-down:before { content: "\F053"; }
    &.icon-toggle-left:before { content: "\F054"; }
    &.icon-toggle-right:before { content: "\F055"; }
    &.icon-trash-bin:before { content: "\F056"; }
    &.icon-trash-alt:before { content: "\F057"; }
    &.icon-diskette:before { content: "\F058"; }
    &.icon-diskette-alt:before { content: "\F059"; }
    &.icon-diary:before { content: "\F05A"; }
    &.icon-calendar:before { content: "\F05B"; }
    &.icon-logs:before { content: "\F05C"; }
    &.icon-clipboard:before { content: "\F05D"; }
    &.icon-clipboard-alt:before { content: "\F05E"; }
    &.icon-console:before { content: "\F060"; }
    &.icon-code:before { content: "\F061"; }
    &.icon-curly-alt:before { content: "\F062"; }
    &.icon-curly:before { content: "\F063"; }
    &.icon-brackets:before { content: "\F064"; }
    &.icon-cmd:before { content: "\F065"; }
    &.icon-section:before { content: "\F066"; }
    &.icon-infinite:before { content: "\F067"; }
    &.icon-tilde:before { content: "\F068"; }
    &.icon-standby:before { content: "\F069"; }
    &.icon-keys:before { content: "\F06A"; }
    &.icon-sliders:before { content: "\F06B"; }
    &.icon-wave:before { content: "\F06C"; }
    &.icon-waves:before { content: "\F06D"; }
    &.icon-vinyl:before { content: "\F06E"; }
    &.icon-spool:before { content: "\F070"; }
    &.icon-cassette:before { content: "\F071"; }
    &.icon-cassette-alt:before { content: "\F072"; }
    &.icon-mic:before { content: "\F073"; }
    &.icon-mic-alt:before { content: "\F074"; }
    &.icon-bullhorn:before { content: "\F075"; }
    &.icon-bullhorn-alt:before { content: "\F076"; }
    &.icon-headset:before { content: "\F077"; }
    &.icon-camera:before { content: "\F078"; }
    &.icon-camera-alt:before { content: "\F079"; }
    &.icon-camera-alt2:before { content: "\F07A"; }
    &.icon-pin:before { content: "\F07B"; }
    &.icon-pin-alt:before { content: "\F07C"; }
    &.icon-map-pin:before { content: "\F07D"; }
    &.icon-map:before { content: "\F07E"; }
    &.icon-member-card:before { content: "\F080"; }
    &.icon-battery5:before { content: "\F081"; }
    &.icon-battery4:before { content: "\F082"; }
    &.icon-battery3:before { content: "\F083"; }
    &.icon-battery2:before { content: "\F084"; }
    &.icon-battery1:before { content: "\F085"; }
    &.icon-battery0:before { content: "\F086"; }
    &.icon-battery-charger:before { content: "\F087"; }
    &.icon-battery5-alt:before { content: "\F088"; }
    &.icon-battery4-alt:before { content: "\F089"; }
    &.icon-battery3-alt:before { content: "\F08A"; }
    &.icon-battery2-alt:before { content: "\F08B"; }
    &.icon-battery1-alt:before { content: "\F08C"; }
    &.icon-battery0-alt:before { content: "\F08D"; }
    &.icon-battery-charger-alt:before { content: "\F08E"; }
    &.icon-time:before { content: "\F090"; }
    &.icon-flux:before { content: "\F091"; }
    &.icon-sleep:before { content: "\F092"; }
    &.icon-ban:before { content: "\F093"; }
    &.icon-lens:before,
    &.icon-search:before { content: "\F094"; }
    &.icon-lens-plus:before { content: "\F095"; }
    &.icon-lens-minus:before { content: "\F096"; }
    &.icon-lens-alt:before,
    &.icon-search-alt:before { content: "\F097"; }
    &.icon-lens-plus-alt:before { content: "\F098"; }
    &.icon-lens-minus-alt:before { content: "\F099"; }
    &.icon-eye:before { content: "\F09A"; }
    &.icon-eye-alt:before { content: "\F09B"; }
    &.icon-low-signal:before { content: "\F09C"; }
    &.icon-medium-signal:before { content: "\F09D"; }
    &.icon-full-signal:before { content: "\F09E"; }
    &.icon-expand:before { content: "\F0A0"; }
    &.icon-contract:before { content: "\F0A1"; }
    &.icon-expand-alt:before { content: "\F0A2"; }
    &.icon-contract-alt:before { content: "\F0A3"; }
    &.icon-expand-alt2:before { content: "\F0A4"; }
    &.icon-maximise:before { content: "\F0A5"; }
    &.icon-contract-alt2:before { content: "\F0A6"; }
    &.icon-menu-pull-down:before { content: "\F0A7"; }
    &.icon-menu-pull-up:before { content: "\F0A8"; }
    &.icon-menu-alt:before { content: "\F0A9"; }
    &.icon-menu:before { content: "\F0AA"; }
    &.icon-tag:before { content: "\F0AB"; }
    &.icon-tag-alt:before { content: "\F0AC"; }
    &.icon-label:before { content: "\F0AD"; }
    &.icon-label-alt:before { content: "\F0AE"; }
    &.icon-reload:before { content: "\F0B0"; }
    &.icon-repost:before { content: "\F0B1"; }
    &.icon-reload-alt:before { content: "\F0B2"; }
    &.icon-random:before { content: "\F0B3"; }
    &.icon-reply:before { content: "\F0B4"; }
    &.icon-wiggle:before { content: "\F0B5"; }
    &.icon-split:before { content: "\F0B6"; }
    &.icon-split-alt:before { content: "\F0B7"; }
    &.icon-converge:before { content: "\F0B8"; }
    &.icon-swap:before { content: "\F0B9"; }
    &.icon-swap-alt:before { content: "\F0BA"; }
    &.icon-transfer:before { content: "\F0BB"; }
    &.icon-inbox:before { content: "\F0BC"; }
    &.icon-inbox-received:before { content: "\F0BD"; }
    &.icon-inbox-sent:before { content: "\F0BE"; }
    &.icon-key:before { content: "\F0C0"; }
    &.icon-key-alt:before { content: "\F0C1"; }
    &.icon-lock:before { content: "\F0C2"; }
    &.icon-unlock:before { content: "\F0C3"; }
    &.icon-strongbox:before { content: "\F0C4"; }
    &.icon-spinner:before { content: "\F0C5"; }
    &.icon-circle:before { content: "\F0C6"; }
    &.icon-circle-alt:before { content: "\F0C7"; }
    &.icon-stamp:before { content: "\F0C8"; }
    &.icon-stamp-alt:before { content: "\F0C9"; }
    &.icon-paper-plane:before { content: "\F0CA"; }
    &.icon-send:before { content: "\F0CB"; }
    &.icon-stamp-direction:before { content: "\F0CC"; }
    &.icon-contacts:before { content: "\F0CD"; }
    &.icon-directions:before { content: "\F0CE"; }
    &.icon-white-book:before { content: "\F0D0"; }
    &.icon-book:before { content: "\F0D1"; }
    &.icon-white-book-alt:before { content: "\F0D2"; }
    &.icon-book-alt:before { content: "\F0D3"; }
    &.icon-paper-roll:before { content: "\F0D4"; }
    &.icon-paper-roll-alt:before { content: "\F0D5"; }
    &.icon-paper:before { content: "\F0D6"; }
    &.icon-database:before { content: "\F0D7"; }
    &.icon-database-plus:before { content: "\F0D8"; }
    &.icon-database-minus:before { content: "\F0D9"; }
    &.icon-life-ring:before,
    &.icon-support:before { content: "\F0DA"; }
    &.icon-life-saver-alt:before { content: "\F0DB"; }
    &.icon-life-saver:before,
    &.icon-support-alt:before { content: "\F0DC"; }
    &.icon-podcast:before { content: "\F0DD"; }
    &.icon-podcast-alt:before { content: "\F0DE"; }
    &.icon-folder:before { content: "\F0E0"; }
    &.icon-folder-plus:before { content: "\F0E1"; }
    &.icon-folder-minus:before { content: "\F0E2"; }
    &.icon-folders:before { content: "\F0E3"; }
    &.icon-folder-alt:before { content: "\F0E4"; }
    &.icon-folder-plus-alt:before { content: "\F0E5"; }
    &.icon-folder-minus-alt:before { content: "\F0E6"; }
    &.icon-folders-alt:before { content: "\F0E7"; }
    &.icon-cloud:before { content: "\F0E8"; }
    &.icon-cloud-upload:before { content: "\F0E9"; }
    &.icon-cloud-download:before { content: "\F0EA"; }
    &.icon-cloud-plus:before { content: "\F0EB"; }
    &.icon-cloud-minus:before { content: "\F0EC"; }
    &.icon-cloud-plus-alt:before { content: "\F0ED"; }
    &.icon-cloud-minus-alt:before { content: "\F0EE"; }
    &.icon-store:before { content: "\F100"; }
    &.icon-store-alt:before { content: "\F101"; }
    &.icon-credit-card:before { content: "\F102"; }
    &.icon-credit-card-alt:before { content: "\F103"; }
    &.icon-mastercard:before { content: "\F104"; }
    &.icon-mastercard-alt:before { content: "\F105"; }
    &.icon-wallet:before { content: "\F106"; }
    &.icon-wallet-alt:before { content: "\F107"; }
    &.icon-newspaper:before { content: "\F108"; }
    &.icon-newspaper-alt:before { content: "\F109"; }
    &.icon-file:before { content: "\F10A"; }
    &.icon-file-plus:before { content: "\F10B"; }
    &.icon-file-minus:before { content: "\F10C"; }
    &.icon-paperclip-alt:before { content: "\F10D"; }
    &.icon-paperclip:before { content: "\F10E"; }
    &.icon-vertical-top:before { content: "\F110"; }
    &.icon-vertical-middle:before { content: "\F111"; }
    &.icon-vertical-bottom:before { content: "\F112"; }
    &.icon-horizontal-left:before { content: "\F113"; }
    &.icon-horizontal-center:before { content: "\F114"; }
    &.icon-horizontal-right:before { content: "\F115"; }
    &.icon-top-edges:before { content: "\F116"; }
    &.icon-vertical-edges:before { content: "\F117"; }
    &.icon-bottom-edges:before { content: "\F118"; }
    &.icon-left-edges:before { content: "\F119"; }
    &.icon-right-edges:before { content: "\F11A"; }
    &.icon-horizontal-centers:before { content: "\F11B"; }
    &.icon-unite:before { content: "\F11C"; }
    &.icon-substract:before { content: "\F11D"; }
    &.icon-intersect:before { content: "\F11E"; }
    &.icon-exclude:before { content: "\F120"; }
    &.icon-layout-sidebar-left:before { content: "\F121"; }
    &.icon-layout-column-center:before { content: "\F122"; }
    &.icon-layout-sidebar-right:before { content: "\F123"; }
    &.icon-layout-left:before { content: "\F124"; }
    &.icon-layout-right:before { content: "\F125"; }
    &.icon-layout-left-alt:before { content: "\F126"; }
    &.icon-layout-right-alt:before { content: "\F127"; }
    &.icon-rulers:before { content: "\F128"; }
    &.icon-swatch:before { content: "\F129"; }
    &.icon-swatches:before { content: "\F12A"; }
    &.icon-crop:before { content: "\F12B"; }
    &.icon-bulb:before { content: "\F12C"; }
    &.icon-bulb-alt:before { content: "\F12D"; }
    &.icon-droplet:before { content: "\F12E"; }
    &.icon-printer:before { content: "\F130"; }
    &.icon-shred:before { content: "\F131"; }
    &.icon-bell:before { content: "\F132"; }
    &.icon-bell-alt:before { content: "\F133"; }
    &.icon-bell-slash:before { content: "\F134"; }
    &.icon-bell-slash-alt:before { content: "\F135"; }
    &.icon-dip:before { content: "\F136"; }
    &.icon-quill:before { content: "\F137"; }
    &.icon-quill-alt:before { content: "\F138"; }
    &.icon-pencil:before { content: "\F139"; }
    &.icon-pencil-alt:before { content: "\F13A"; }
    &.icon-feather-square:before { content: "\F13B"; }
    &.icon-feather-square-alt:before { content: "\F13C"; }
    &.icon-pencil-square:before { content: "\F13D"; }
    &.icon-pencil-square-alt:before { content: "\F13E"; }
    &.icon-bullet:before { content: "\F140"; }
    &.icon-elipsis:before { content: "\F141"; }
    &.icon-timeline:before { content: "\F142"; }
    &.icon-chain:before { content: "\F143"; }
    &.icon-link:before { content: "\F144"; }
    &.icon-anchor:before { content: "\F145"; }
    &.icon-asterisk:before { content: "\F146"; }
    &.icon-compass:before { content: "\F147"; }
    &.icon-round-up:before { content: "\F148"; }
    &.icon-round-down:before { content: "\F149"; }
    &.icon-round-left:before { content: "\F14A"; }
    &.icon-round-right:before { content: "\F14B"; }
    &.icon-round-plus:before { content: "\F14C"; }
    &.icon-round-minus:before { content: "\F14D"; }
    &.icon-round-cross:before { content: "\F14E"; }
    &.icon-paper-plane-alt:before { content: "\F150"; }
    &.icon-at:before { content: "\F151"; }
    &.icon-envelope:before { content: "\F152"; }
    &.icon-envelope-send:before { content: "\F153"; }
    &.icon-envelope-receive:before { content: "\F154"; }
    &.icon-trash:before { content: "\F155"; }
    &.icon-reply-alt:before { content: "\F156"; }
    &.icon-reply-all:before { content: "\F157"; }
    &.icon-reply:before { content: "\F158"; }
    &.icon-share-alt:before { content: "\F159"; }
    &.icon-exclamation-circle:before { content: "\F15A"; }
    &.icon-exclamation:before { content: "\F15B"; }
    &.icon-star-circle:before { content: "\F15C"; }
    &.icon-star:before { content: "\F15D"; }
    &.icon-flag:before { content: "\F15E"; }
    &.icon-flag-alt:before { content: "\F160"; }
    &.icon-house:before { content: "\F161"; }
    &.icon-home:before { content: "\F162"; }
    &.icon-home-alt:before { content: "\F163"; }
    &.icon-checkbox-tick:before { content: "\F164"; }
    &.icon-checkbox-cross:before { content: "\F165"; }
    &.icon-clock:before { content: "\F166"; }
    &.icon-clock-alt:before { content: "\F167"; }
    &.icon-step-backward:before { content: "\F168"; }
    &.icon-backward:before { content: "\F169"; }
    &.icon-stop:before { content: "\F16A"; }
    &.icon-play:before { content: "\F16B"; }
    &.icon-pause:before { content: "\F16C"; }
    &.icon-forward:before { content: "\F16D"; }
    &.icon-step-forward:before { content: "\F16E"; }
    &.icon-user:before { content: "\F170"; }
    &.icon-user-plus:before { content: "\F171"; }
    &.icon-user-minus:before { content: "\F172"; }
    &.icon-user-plus-alt:before { content: "\F173"; }
    &.icon-user-minus-alt:before { content: "\F174"; }
    &.icon-fork:before { content: "\F175"; }
    &.icon-pull:before { content: "\F176"; }
    &.icon-commit:before { content: "\F177"; }
    &.icon-eye-alt2:before { content: "\F178"; }
    &.icon-eye-alt2-plus:before { content: "\F179"; }
    &.icon-eye-alt2-minus:before { content: "\F17A"; }
    &.icon-circle-asterisk:before { content: "\F17B"; }
    &.icon-revert:before { content: "\F17C"; }
}