@font-face {
  font-family: 'batch';
  src: url('../fonts/batch.eot?55799201');
  src: url('../fonts/batch.eot?55799201#iefix') format('embedded-opentype'),
	   url('../fonts/batch.woff2?55799201') format('woff2'),
	   url('../fonts/batch.woff?55799201') format('woff'),
	   url('../fonts/batch.ttf?55799201') format('truetype'),
	   url('../fonts/batch.svg?55799201#batch') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: "batch";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon-left-bubble:before { content: '\f000'; } /* '' */
.icon-center-bubble:before { content: '\f001'; } /* '' */
.icon-right-bubble:before { content: '\f002'; } /* '' */
.icon-left-text-bubble:before { content: '\f003'; } /* '' */
.icon-center-text-bubble:before { content: '\f004'; } /* '' */
.icon-right-text-bubble:before { content: '\f005'; } /* '' */
.icon-left-alt-text-bubble:before { content: '\f006'; } /* '' */
.icon-center-alt-text-bubble:before { content: '\f007'; } /* '' */
.icon-right-alt-text-bubble:before { content: '\f008'; } /* '' */
.icon-left-bubbles:before { content: '\f009'; } /* '' */
.icon-right-bubbles:before { content: '\f00a'; } /* '' */
.icon-window:before { content: '\f00b'; } /* '' */
.icon-plus-window:before { content: '\f00c'; } /* '' */
.icon-minus-window:before { content: '\f00d'; } /* '' */
.icon-cross-window:before { content: '\f00e'; } /* '' */
.icon-upload-window:before { content: '\f010'; } /* '' */
.icon-download-window:before { content: '\f011'; } /* '' */
.icon-console-window:before { content: '\f012'; } /* '' */
.icon-windows:before { content: '\f013'; } /* '' */
.icon-alt-window:before { content: '\f014'; } /* '' */
.icon-alt-plus-window:before { content: '\f015'; } /* '' */
.icon-alt-minus-window:before { content: '\f016'; } /* '' */
.icon-alt-cross-window:before { content: '\f017'; } /* '' */
.icon-alt-upload-window:before { content: '\f018'; } /* '' */
.icon-alt-download-window:before { content: '\f019'; } /* '' */
.icon-alt-console-1:before { content: '\f01a'; } /* '' */
.icon-alt-windows:before { content: '\f01b'; } /* '' */
.icon-frames:before { content: '\f01c'; } /* '' */
.icon-plus-frame:before { content: '\f01d'; } /* '' */
.icon-minus-frame:before { content: '\f01e'; } /* '' */
.icon-alt-frame:before { content: '\f020'; } /* '' */
.icon-alt-plus-frame:before { content: '\f021'; } /* '' */
.icon-alt-minus-frame:before { content: '\f022'; } /* '' */
.icon-alt-upload-frame:before { content: '\f023'; } /* '' */
.icon-alt-download-frame:before { content: '\f024'; } /* '' */
.icon-crate:before { content: '\f025'; } /* '' */
.icon-grid:before { content: '\f026'; } /* '' */
.icon-alt-grid:before { content: '\f027'; } /* '' */
.icon-list:before { content: '\f028'; } /* '' */
.icon-alt-list:before { content: '\f029'; } /* '' */
.icon-in:before { content: '\f02a'; } /* '' */
.icon-out:before { content: '\f02b'; } /* '' */
.icon-down-in:before { content: '\f02c'; } /* '' */
.icon-up-out:before { content: '\f02d'; } /* '' */
.icon-share:before { content: '\f02e'; } /* '' */
.icon-justify-align:before { content: '\f030'; } /* '' */
.icon-left-align:before { content: '\f031'; } /* '' */
.icon-center-align:before { content: '\f032'; } /* '' */
.icon-right-align:before { content: '\f033'; } /* '' */
.icon-alt-justify-align:before { content: '\f034'; } /* '' */
.icon-alt-left-align:before { content: '\f035'; } /* '' */
.icon-alt-center-align:before { content: '\f036'; } /* '' */
.icon-alt-right-align:before { content: '\f037'; } /* '' */
.icon-cross-volume:before { content: '\f038'; } /* '' */
.icon-volume:before { content: '\f039'; } /* '' */
.icon-low-volume:before { content: '\f03a'; } /* '' */
.icon-high-volume:before { content: '\f03b'; } /* '' */
.icon-brightness:before { content: '\f03c'; } /* '' */
.icon-alt-brightness:before { content: '\f03d'; } /* '' */
.icon-contrast:before { content: '\f03e'; } /* '' */
.icon-image:before { content: '\f040'; } /* '' */
.icon-video:before { content: '\f041'; } /* '' */
.icon-alt-video:before { content: '\f042'; } /* '' */
.icon-alt-user:before { content: '\f043'; } /* '' */
.icon-user-profile:before { content: '\f044'; } /* '' */
.icon-user-profiles:before { content: '\f045'; } /* '' */
.icon-user-circle:before { content: '\f046'; } /* '' */
.icon-user-card:before { content: '\f047'; } /* '' */
.icon-user-profile-card:before { content: '\f048'; } /* '' */
.icon-heart:before { content: '\f049'; } /* '' */
.icon-medium-heart:before { content: '\f04a'; } /* '' */
.icon-alt-heart:before { content: '\f04b'; } /* '' */
.icon-cog:before { content: '\f04c'; } /* '' */
.icon-alt-cog:before { content: '\f04d'; } /* '' */
.icon-cogs:before { content: '\f04e'; } /* '' */
.icon-flask:before { content: '\f050'; } /* '' */
.icon-alt-flask:before { content: '\f051'; } /* '' */
.icon-up-toggle:before { content: '\f052'; } /* '' */
.icon-down-toggle:before { content: '\f053'; } /* '' */
.icon-right-toggle:before { content: '\f055'; } /* '' */
.icon-trash-bin:before { content: '\f056'; } /* '' */
.icon-trash-can:before { content: '\f057'; } /* '' */
.icon-diskette:before { content: '\f058'; } /* '' */
.icon-alt-diskette:before { content: '\f059'; } /* '' */
.icon-diary:before { content: '\f05a'; } /* '' */
.icon-calendar:before { content: '\f05b'; } /* '' */
.icon-logs:before { content: '\f05c'; } /* '' */
.icon-clipboard:before { content: '\f05d'; } /* '' */
.icon-alt-clipboard:before { content: '\f05e'; } /* '' */
.icon-console:before { content: '\f060'; } /* '' */
.icon-code:before { content: '\f061'; } /* '' */
.icon-alt-curly:before { content: '\f062'; } /* '' */
.icon-curly:before { content: '\f063'; } /* '' */
.icon-brackets:before { content: '\f064'; } /* '' */
.icon-cmd:before { content: '\f065'; } /* '' */
.icon-section:before { content: '\f066'; } /* '' */
.icon-infinity:before { content: '\f067'; } /* '' */
.icon-tilde:before { content: '\f068'; } /* '' */
.icon-standby:before { content: '\f069'; } /* '' */
.icon-keys:before { content: '\f06a'; } /* '' */
.icon-sliders:before { content: '\f06b'; } /* '' */
.icon-wave:before { content: '\f06c'; } /* '' */
.icon-waves:before { content: '\f06d'; } /* '' */
.icon-vinyl:before { content: '\f06e'; } /* '' */
.icon-spool:before { content: '\f070'; } /* '' */
.icon-cassette:before { content: '\f071'; } /* '' */
.icon-alt-cassette:before { content: '\f072'; } /* '' */
.icon-microphone:before { content: '\f073'; } /* '' */
.icon-alt-microphone:before { content: '\f074'; } /* '' */
.icon-bullhorn:before { content: '\f075'; } /* '' */
.icon-alt-bullhorn:before { content: '\f076'; } /* '' */
.icon-headset:before { content: '\f077'; } /* '' */
.icon-photo:before { content: '\f078'; } /* '' */
.icon-camera:before { content: '\f079'; } /* '' */
.icon-alt-camera:before { content: '\f07a'; } /* '' */
.icon-pin:before { content: '\f07b'; } /* '' */
.icon-alt-pin:before { content: '\f07c'; } /* '' */
.icon-pinned-map:before { content: '\f07d'; } /* '' */
.icon-map:before { content: '\f07e'; } /* '' */
.icon-member-card:before { content: '\f080'; } /* '' */
.icon-battery-5:before { content: '\f081'; } /* '' */
.icon-battery-4:before { content: '\f082'; } /* '' */
.icon-battery-3:before { content: '\f083'; } /* '' */
.icon-battery-2:before { content: '\f084'; } /* '' */
.icon-battery-1:before { content: '\f085'; } /* '' */
.icon-battery-0:before { content: '\f086'; } /* '' */
.icon-charge-battery:before { content: '\f087'; } /* '' */
.icon-alt-battery-5:before { content: '\f088'; } /* '' */
.icon-alt-battery-4:before { content: '\f089'; } /* '' */
.icon-alt-battery-3:before { content: '\f08a'; } /* '' */
.icon-alt-battery-2:before { content: '\f08b'; } /* '' */
.icon-alt-battery-1:before { content: '\f08c'; } /* '' */
.icon-alt-battery-0:before { content: '\f08d'; } /* '' */
.icon-alt-charge-battery:before { content: '\f08e'; } /* '' */
.icon-time:before { content: '\f090'; } /* '' */
.icon-flux:before { content: '\f091'; } /* '' */
.icon-sleep:before { content: '\f092'; } /* '' */
.icon-ban:before { content: '\f093'; } /* '' */
.icon-lens:before { content: '\f094'; } /* '' */
.icon-plus-lens:before { content: '\f095'; } /* '' */
.icon-minus-lens:before { content: '\f096'; } /* '' */
.icon-alt-lens:before { content: '\f097'; } /* '' */
.icon-alt-plus-lens:before { content: '\f098'; } /* '' */
.icon-alt-minus-lens:before { content: '\f099'; } /* '' */
.icon-eye:before { content: '\f09a'; } /* '' */
.icon-open-eye:before { content: '\f09b'; } /* '' */
.icon-low-signal:before { content: '\f09c'; } /* '' */
.icon-medium-signal:before { content: '\f09d'; } /* '' */
.icon-full-signal:before { content: '\f09e'; } /* '' */
.icon-expand:before { content: '\f0a0'; } /* '' */
.icon-contract:before { content: '\f0a1'; } /* '' */
.icon-expand-window:before { content: '\f0a2'; } /* '' */
.icon-contract-window:before { content: '\f0a3'; } /* '' */
.icon-alt-expand:before { content: '\f0a4'; } /* '' */
.icon-maximise:before { content: '\f0a5'; } /* '' */
.icon-alt-contract:before { content: '\f0a6'; } /* '' */
.icon-pull-down-menu:before { content: '\f0a7'; } /* '' */
.icon-pull-up-menu:before { content: '\f0a8'; } /* '' */
.icon-alt-menu:before { content: '\f0a9'; } /* '' */
.icon-menu:before { content: '\f0aa'; } /* '' */
.icon-tag:before { content: '\f0ab'; } /* '' */
.icon-alt-tag:before { content: '\f0ac'; } /* '' */
.icon-label:before { content: '\f0ad'; } /* '' */
.icon-alt-label:before { content: '\f0ae'; } /* '' */
.icon-reload:before { content: '\f0b0'; } /* '' */
.icon-repeat:before { content: '\f0b1'; } /* '' */
.icon-alt-reload:before { content: '\f0b2'; } /* '' */
.icon-random:before { content: '\f0b3'; } /* '' */
.icon-return:before { content: '\f0b4'; } /* '' */
.icon-wiggle:before { content: '\f0b5'; } /* '' */
.icon-split:before { content: '\f0b6'; } /* '' */
.icon-alt-split:before { content: '\f0b7'; } /* '' */
.icon-converge:before { content: '\f0b8'; } /* '' */
.icon-swap:before { content: '\f0b9'; } /* '' */
.icon-alt-swap:before { content: '\f0ba'; } /* '' */
.icon-transfer:before { content: '\f0bb'; } /* '' */
.icon-inbox:before { content: '\f0bc'; } /* '' */
.icon-received-inbox:before { content: '\f0bd'; } /* '' */
.icon-sent-inbox:before { content: '\f0be'; } /* '' */
.icon-key:before { content: '\f0c0'; } /* '' */
.icon-alt-key:before { content: '\f0c1'; } /* '' */
.icon-lock:before { content: '\f0c2'; } /* '' */
.icon-unlock:before { content: '\f0c3'; } /* '' */
.icon-strongbox:before { content: '\f0c4'; } /* '' */
.icon-spinner:before { content: '\f0c5'; } /* '' */
.icon-circle:before { content: '\f0c6'; } /* '' */
.icon-alt-circle:before { content: '\f0c7'; } /* '' */
.icon-stamp:before { content: '\f0c8'; } /* '' */
.icon-alt-stamp:before { content: '\f0c9'; } /* '' */
.icon-paper-plane:before { content: '\f0ca'; } /* '' */
.icon-send:before { content: '\f0cb'; } /* '' */
.icon-direction-stamp:before { content: '\f0cc'; } /* '' */
.icon-contacts:before { content: '\f0cd'; } /* '' */
.icon-directions:before { content: '\f0ce'; } /* '' */
.icon-white-book:before { content: '\f0d0'; } /* '' */
.icon-book:before { content: '\f0d1'; } /* '' */
.icon-alt-white-book:before { content: '\f0d2'; } /* '' */
.icon-alt-book:before { content: '\f0d3'; } /* '' */
.icon-paper-roll:before { content: '\f0d4'; } /* '' */
.icon-alt-paper-roll:before { content: '\f0d5'; } /* '' */
.icon-paper:before { content: '\f0d6'; } /* '' */
.icon-database:before { content: '\f0d7'; } /* '' */
.icon-plus-database:before { content: '\f0d8'; } /* '' */
.icon-minus-database:before { content: '\f0d9'; } /* '' */
.icon-life-ring:before { content: '\f0da'; } /* '' */
.icon-alt-life-saver:before { content: '\f0db'; } /* '' */
.icon-life-saver:before { content: '\f0dc'; } /* '' */
.icon-podcast:before { content: '\f0dd'; } /* '' */
.icon-alt-podcast:before { content: '\f0de'; } /* '' */
.icon-folder:before { content: '\f0e0'; } /* '' */
.icon-plus-folder:before { content: '\f0e1'; } /* '' */
.icon-minus-folder:before { content: '\f0e2'; } /* '' */
.icon-folders:before { content: '\f0e3'; } /* '' */
.icon-alt-folder:before { content: '\f0e4'; } /* '' */
.icon-alt-plus-folder:before { content: '\f0e5'; } /* '' */
.icon-alt-minus-folder:before { content: '\f0e6'; } /* '' */
.icon-alt-folders:before { content: '\f0e7'; } /* '' */
.icon-cloud:before { content: '\f0e8'; } /* '' */
.icon-upload-cloud:before { content: '\f0e9'; } /* '' */
.icon-download-cloud:before { content: '\f0ea'; } /* '' */
.icon-plus-cloud:before { content: '\f0eb'; } /* '' */
.icon-minus-cloud:before { content: '\f0ec'; } /* '' */
.icon-alt-plus-cloud:before { content: '\f0ed'; } /* '' */
.icon-alt-minus-cloud:before { content: '\f0ee'; } /* '' */
.icon-store:before { content: '\f100'; } /* '' */
.icon-alt-store:before { content: '\f101'; } /* '' */
.icon-credit-card:before { content: '\f102'; } /* '' */
.icon-alt-credit-card:before { content: '\f103'; } /* '' */
.icon-mastercard:before { content: '\f104'; } /* '' */
.icon-alt-mastercard:before { content: '\f105'; } /* '' */
.icon-wallet:before { content: '\f106'; } /* '' */
.icon-alt-wallet:before { content: '\f107'; } /* '' */
.icon-newspaper:before { content: '\f108'; } /* '' */
.icon-alt-newspaper:before { content: '\f109'; } /* '' */
.icon-file:before { content: '\f10a'; } /* '' */
.icon-plus-file:before { content: '\f10b'; } /* '' */
.icon-minus-file:before { content: '\f10c'; } /* '' */
.icon-alt-paperclip:before { content: '\f10d'; } /* '' */
.icon-paperclip:before { content: '\f10e'; } /* '' */
.icon-top-vertical:before { content: '\f110'; } /* '' */
.icon-middle-vertical:before { content: '\f111'; } /* '' */
.icon-bottom-vertical:before { content: '\f112'; } /* '' */
.icon-left-horizontal:before { content: '\f113'; } /* '' */
.icon-center-horizontal:before { content: '\f114'; } /* '' */
.icon-right-horizontal:before { content: '\f115'; } /* '' */
.icon-top-edges:before { content: '\f116'; } /* '' */
.icon-vertical-edges:before { content: '\f117'; } /* '' */
.icon-bottom-edges:before { content: '\f118'; } /* '' */
.icon-left-edges:before { content: '\f119'; } /* '' */
.icon-right-edges:before { content: '\f11a'; } /* '' */
.icon-horizontal-edges:before { content: '\f11b'; } /* '' */
.icon-unite:before { content: '\f11c'; } /* '' */
.icon-substract:before { content: '\f11d'; } /* '' */
.icon-intersect:before { content: '\f11e'; } /* '' */
.icon-exclude:before { content: '\f120'; } /* '' */
.icon-left-sidebar-layout:before { content: '\f121'; } /* '' */
.icon-center-column-layout:before { content: '\f122'; } /* '' */
.icon-right-sidebar-layout:before { content: '\f123'; } /* '' */
.icon-left-layout:before { content: '\f124'; } /* '' */
.icon-right-layout:before { content: '\f125'; } /* '' */
.icon-alt-left-layout:before { content: '\f126'; } /* '' */
.icon-alt-right-layout:before { content: '\f127'; } /* '' */
.icon-rulers:before { content: '\f128'; } /* '' */
.icon-swatch:before { content: '\f129'; } /* '' */
.icon-swatches:before { content: '\f12a'; } /* '' */
.icon-crop:before { content: '\f12b'; } /* '' */
.icon-bulb:before { content: '\f12c'; } /* '' */
.icon-alt-bulb:before { content: '\f12d'; } /* '' */
.icon-droplet:before { content: '\f12e'; } /* '' */
.icon-printer:before { content: '\f130'; } /* '' */
.icon-shred:before { content: '\f131'; } /* '' */
.icon-bell:before { content: '\f132'; } /* '' */
.icon-alt-bell:before { content: '\f133'; } /* '' */
.icon-slash-bell:before { content: '\f134'; } /* '' */
.icon-alt-slash-bell:before { content: '\f135'; } /* '' */
.icon-dip:before { content: '\f136'; } /* '' */
.icon-quill:before { content: '\f137'; } /* '' */
.icon-alt-quill:before { content: '\f138'; } /* '' */
.icon-pencil:before { content: '\f139'; } /* '' */
.icon-alt-pencil:before { content: '\f13a'; } /* '' */
.icon-square-quill:before { content: '\f13b'; } /* '' */
.icon-alt-square-quill:before { content: '\f13c'; } /* '' */
.icon-square-pencil:before { content: '\f13d'; } /* '' */
.icon-alt-square-pencil:before { content: '\f13e'; } /* '' */
.icon-bullet:before { content: '\f140'; } /* '' */
.icon-elipsis:before { content: '\f141'; } /* '' */
.icon-timeline:before { content: '\f142'; } /* '' */
.icon-chain:before { content: '\f143'; } /* '' */
.icon-alt-chain:before { content: '\f144'; } /* '' */
.icon-anchor:before { content: '\f145'; } /* '' */
.icon-asterisk:before { content: '\f146'; } /* '' */
.icon-compass:before { content: '\f147'; } /* '' */
.icon-up-round:before { content: '\f148'; } /* '' */
.icon-down-round:before { content: '\f149'; } /* '' */
.icon-left-round:before { content: '\f14a'; } /* '' */
.icon-right-round:before { content: '\f14b'; } /* '' */
.icon-round-plus:before { content: '\f14c'; } /* '' */
.icon-minus-round:before { content: '\f14d'; } /* '' */
.icon-cross-round:before { content: '\f14e'; } /* '' */
.icon-alt-paper-plane:before { content: '\f150'; } /* '' */
.icon-at:before { content: '\f151'; } /* '' */
.icon-envelope:before { content: '\f152'; } /* '' */
.icon-send-envelope:before { content: '\f153'; } /* '' */
.icon-receive-envelope:before { content: '\f154'; } /* '' */
.icon-alt-trash-bin:before { content: '\f155'; } /* '' */
.icon-alt-reply:before { content: '\f156'; } /* '' */
.icon-reply-all:before { content: '\f157'; } /* '' */
.icon-reply:before { content: '\f158'; } /* '' */
.icon-alt-share:before { content: '\f159'; } /* '' */
.icon-exclamation-round:before { content: '\f15a'; } /* '' */
.icon-exclamation:before { content: '\f15b'; } /* '' */
.icon-star-round:before { content: '\f15c'; } /* '' */
.icon-star:before { content: '\f15d'; } /* '' */
.icon-flag:before { content: '\f15e'; } /* '' */
.icon-alt-flag:before { content: '\f160'; } /* '' */
.icon-house:before { content: '\f161'; } /* '' */
.icon-alt-house:before { content: '\f162'; } /* '' */
.icon-home:before { content: '\f163'; } /* '' */
.icon-tick-checkbox:before { content: '\f164'; } /* '' */
.icon-cross-checkbox:before { content: '\f165'; } /* '' */
.icon-clock:before { content: '\f166'; } /* '' */
.icon-alt-clock:before { content: '\f167'; } /* '' */
.icon-step-backward:before { content: '\f168'; } /* '' */
.icon-backward:before { content: '\f169'; } /* '' */
.icon-stop:before { content: '\f16a'; } /* '' */
.icon-play:before { content: '\f16b'; } /* '' */
.icon-pause:before { content: '\f16c'; } /* '' */
.icon-forward:before { content: '\f16d'; } /* '' */
.icon-step-forward:before { content: '\f16e'; } /* '' */
.icon-user:before { content: '\f170'; } /* '' */
.icon-plus-user:before { content: '\f171'; } /* '' */
.icon-minus-user:before { content: '\f172'; } /* '' */
.icon-plus-user-profile:before { content: '\f173'; } /* '' */
.icon-minus-user-profile:before { content: '\f174'; } /* '' */
.icon-fork:before { content: '\f175'; } /* '' */
.icon-pull:before { content: '\f176'; } /* '' */
.icon-commit:before { content: '\f177'; } /* '' */
.icon-alt-eye:before { content: '\f178'; } /* '' */
.icon-alt-plus-eye:before { content: '\f179'; } /* '' */
.icon-alt-minus-eye:before { content: '\f17a'; } /* '' */
.icon-asterisk-round:before { content: '\f17b'; } /* '' */
.icon-revert:before { content: '\f17c'; } /* '' */