@mixin border-radius($radius) {
	border-radius: $radius;
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;					
}

@mixin box-shadow($box-shadow) {
	box-shadow: $box-shadow;
		-webkit-box-shadow: $box-shadow;
		-o-box-shadow: $box-shadow;
		-moz-box-shadow: $box-shadow;
		-ms-box-shadow: $box-shadow;
}

@mixin user-select($user-select) {
	user-select: $user-select;
		-webkit-user-select: $user-select;
		-moz-user-select: $user-select;
		-ms-user-select: $user-select;
}
