$font_size: 16px !default;
$site_fonts: 'open_sansregular', sans-serif !default;

$site_width: 100% !default;
$container_margins: 156px !default;

$body_text: #000000 !default;
$default_text: #FFFFFF !default;
$primary_color: #0082E0 !default;
$secondary_color: #808080 !default;

$red_color: #D82F2F !default;
$black_color: #282828 !default;
$green_color: #00B715 !default;
$brown_color: #823400 !default;
$orange_color: #E25A00 !default;
$purple_color: #9A2ECC !default;
$yellow_color: #E0B300 !default;
$pink_color: #FF56E8 !default;
$darkgreen_color: #007009 !default;
$cyan_color: #00C6E5 !default;

$real_white: #FFFFFF !default;
$bkg_real_black: #000000 !default;
$okaeri_bkg: #cecece !default;

$primary_bkg: rgba(0, 130, 224, 0.5) !default;
$secondary_bkg: rgba(128, 128, 128, 0.5) !default;
$red_bkg: rgba(216, 47, 47, 0.5) !default;
$black_bkg: rgba(40, 40, 40, 0.5) !default;
$green_bkg: rgba(0, 183, 21, 0.5) !default;
$brown_bkg: rgba(130, 52, 0, 0.5) !default;
$orange_bkg: rgba(226, 90, 0, 0.5) !default;
$purple_bkg: rgba(154, 46, 204, 0.5) !default;
$yellow_bkg: rgba(224, 179, 0, 0.5) !default;
$pink_bkg: rgba(255, 86, 232, 0.5) !default;
$darkgreen_bkg: rgba(0, 112, 9, 0.5) !default;
$cyan_bkg: rgba(0, 198, 229, 0.5) !default;
