@import "compass/reset";

@import 'variables';
@import 'mixins';

@import 'reset';

@import 'mixes';
@import url('../../libs/flexboxgrid/dist/flexboxgrid.css');

html, body {
	font: $font_size $site_fonts;
	color: $body_text;
	width: $site_width;
	margin: 0;
	line-height: 1.4285em;
	font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
}

/** Basic overrides */
a,
a:active,
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: $primary_color;
}

/** HTML elements formatting */
b, strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

abbr[title] {
	cursor: help;
  border-bottom: 2px dashed $yellow_color;
}

h1, h2, h3, h4, h5 {
  font-family: $font_size $site_fonts;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.28rem;
}

h4 {
  font-size: 1.071rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/** Future elements */
.wrapper {
	margin-bottom: 24px;
}

// Highlighted text on span
span.hl {
	display: -webkit-inline-box;
	color: #FFFFFF;
	padding: 2px 8px;
	margin: 1px;
	background-color: none;
	background-image: none;
}

/** Highlighting */
::-webkit-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

/** Buttons */
button {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	background: none;
	background-image: none;
	outline: none;
  border: none;
	padding: 10px 20px;
	margin: 2px;
	text-align: center;
	line-height: 1em;
	vertical-align: baseline;
	color: $default_text;
	@include user-select(none);
	&.alt {
		padding: 8px 16px;
		border-width: 2px;
		border-style: solid;
		border-color: none;
	}
}

// Links with buttons styles
a[role="button"] {
	@extend button;
}

// General states
button:active {
	cursor: pointer;
}

/** Navigation menu */
nav.primary {
	background-color: $bkg_real_black;
	max-height: 54px;
	border: none;
	color: $default_text;
	text-align: center;
	& ul {
		display: inline-flex;
		height: 54px;
		list-style: none;
		align-items: center;
		-ms-box-orient: horizontal;
	}
	& li .item {
		display: inline-flex;
		cursor: pointer;
		background-image: none;
		background-color: $primary_color;
		color: $default_text;
		padding: 10px 20px;
		margin-right: 8px;
		&.active {
			padding: 8px 18px;
			border: 2px solid $primary_color;
			background-color: transparent;
			&:active {
				border-color: $real_white;
			}
		}
	}
}

nav li.header {
	display: inline-flex;
	margin-right: 26px;
}

/** Panels */
.panel {
	display: block;
	width: 100%;
	border: 3px dashed;
	border-color: none;
	padding: 10px 15px;
	margin: 12px 0px;
	& h5 {
		margin-bottom: 6px;
	}
}

/** Okaeri */
.okaeri {
	display: block;
	width: 100%;
	padding: 48px 0px;
	background: $okaeri_bkg;
	margin-bottom: 24px;
	& h2 {
		margin-bottom: 12px;
	}
	& .action {
		margin-top: 24px;
		text-align: center;
		& button {
			padding: 12px 32px;
			&.alt {
				padding: 10px 30px;
			}
		}
	}
}
