@import "compass/reset";

@import 'variables';
@import 'mixins';

@import 'reset';

@import 'mixes';
@import url('../../libs/flexboxgrid/dist/flexboxgrid.css');

html, body {
	font: $font_size $site_fonts;
	color: $body_text;
	width: $site_width;
	margin: 0;
	line-height: 1.4285em;
	font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
}

/** Basic overrides */
a,
a:active,
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: $primary_color;
}

/** HTML elements formatting */
b, strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

abbr[title] {
	cursor: help;
  border-bottom: 2px dashed $yellow_color;
}

h1, h2, h3, h4, h5 {
  font-family: $font_size $site_fonts;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.28rem;
}

h4 {
  font-size: 1.071rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/** Highlighting */
::-webkit-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

/** Buttons */
button {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	background: none;
	background-image: none;
	outline: none;
  border: none;
	padding: 10px 20px;
	margin: 2px;
	text-align: center;
	line-height: 1em;
	vertical-align: baseline;
	color: $default_text;
	@include user-select(none);
	&.alt {
		padding: 8px 16px;
		border-width: 2px;
		border-style: solid;
		border-color: none;
	}
}

// Links with buttons styles
a[role="button"] {
	@extend button;
}

// General states
button:active {
	cursor: pointer;
}

/** Navigation menu */
nav.primary {
	display: block;
	width: 100%;
	background-color: $bkg_real_black;
	height: 54px;
	border: none;
	color: $default_text;
}

nav .item {
	display: inline-block;
	cursor: pointer;
	vertical-align: -webkit-baseline-middle;
	background-image: none;
	background-color: $primary_color;
	color: $default_text;
	list-style-type: none;
	list-style-position: outside;
	padding: 10px 20px;
	margin-right: 2px;
}

nav .active.item {
	padding: 8px 18px;
	border: 2px solid $primary_color;
	background-color: transparent;
}

nav .active.item:active {
	border-color: $real_white;
}

nav .header {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	margin-right: 26px;
}

/** Panels */
.panel {
	display: block;
	width: 100%;
	border: 3px dashed;
	border-color: none;
	padding: 10px 15px;
	margin: 12px 0px;
}

// small fix
.panel h5 {
	margin-bottom: 6px;
}

.panel.primary {
	border-color: $primary_color;
	color: $primary_color;
	background-color: $primary_bkg;
}

.panel.secondary {
	border-color: $secondary_color;
	color: $secondary_color;
	background-color: $secondary_bkg;
}

.panel.red {
	border-color: $red_color;
	color: $red_color;
	background-color: $red_bkg;
}

.panel.black {
	border-color: $black_color;
	color: $black_color;
	background-color: $black_bkg;
}

.panel.green {
	border-color: $green_color;
	color: $green_color;
	background-color: $green_bkg;
}

.panel.brown {
	border-color: $brown_color;
	color: $brown_color;
	background-color: $brown_bkg;
}

.panel.orange {
	border-color: $orange_color;
	color: $orange_color;
	background-color: $orange_bkg;
}

.panel.purple {
	border-color: $purple_color;
	color: $purple_color;
	background-color: $purple_bkg;
}

.panel.yellow {
	border-color: $yellow_color;
	color: $yellow_color;
	background-color: $yellow_bkg;
}

.panel.pink {
	border-color: $pink_color;
	color: $pink_color;
	background-color: $pink_bkg;
}

.panel.darkgreen {
	border-color: $darkgreen_color;
	color: $darkgreen_color;
	background-color: $darkgreen_bkg;
}

.panel.cyan {
	border-color: $cyan_color;
	color: $cyan_color;
	background-color: $cyan_bkg;
}

/** Okaeri */
.okaeri {
	display: block;
	width: 100%;
	padding: 48px 0px;
	background: $okaeri_bkg;
	margin-bottom: 24px;
	& h2 {
		margin-bottom: 12px;
	}
	& .action {
		margin-top: 24px;
		text-align: center;
		& button {
			padding: 12px 32px;
			&.alt {
				padding: 10px 30px;
			}
		}
	}
}
