.flow {
	display: flex;
	&.row {
		flex-direction: row;
		&.reverse {
			flex-direction: row-reverse;
		}
	}
	&.column {
		flex-direction: column;
		&.reverse {
			flex-direction: column-reverse;
		}
	}
	&.inline {
		display: inline-flex;
	}
	&.wrap {
		flex-wrap: wrap;
		&.reverse {
			flex-wrap: wrap-reverse;
		}
	}
	&.no_wrap {
		flex-wrap: nowrap;
	}
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-center {
		justify-content: center;
	}
	&.justify-between {
		justify-content: space-between;
	}
	&.justify-around {
		justify-content: space-around;
	}
	&.align-stretch {
		align-items: stretch;
	}
	&.align-start {
		align-items: flex-start;
	}
	&.align-end {
		align-items: flex-end;
	}
	&.align-center {
		align-items: center;
	}
	&.align-baseline {
		align-items: baseline;
	}
	& .self-start {
		align-self: flex-start;
	}
	& .self-end {
		align-self: flex-end;
	}
	& .self-center {
		align-self: center;
	}
	& .self-stretch {
		align-self: stretch;
	}
	& .order-first {
		order: -1;
	}
	& .order-last {
		order: 1;
	}
	& .grow {
		flex: 1 1 0%;
		&.two {
			flex: 2 1 0%;
		}
		&.three {
			flex: 3 1 0%;
		}
		&.four {
			flex: 4 1 0%;
		}
		&.five {
			flex: 5 1 0%;
		}
	}
}