// Reset CSS
@import 'reset';

// SASS Mixins
@import 'mixins';

// All component mixes, temporally here
@import 'mixes';

body {
	font-family: $site_fonts;
	font-size: $font_size;
	color: $body_text;
	width: $site_width;
	margin: 0;
	line-height: $body_line_height;
	-webkit-font-smoothing: antialiased;
}

// Basic overrides
a,
a:active,
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: $primary_color;
}

// Typography
@import 'typography';

hr {
	border-bottom: 2px solid $okaeri_bkg;
	margin-top: 34px;
	margin-bottom: 32px;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	border: 0;
	&.omusubi {
		@include border-radius(50%);
	}
}

footer {
	padding: 20px 60px;
	margin-top: 40px;
	background-color: $primary_color;
	color: $default_text;
}

section {
	padding: 40px 60px;
	border-top: 2px solid $secondary_bkg;
	&:nth-child(2) {
		border-top: 0;
	}
}

// Customize selection 
::-webkit-selection {
		background-color: $selection_bkg;
		color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
		background-color: $selection_bkg;
		color: rgba(0, 0, 0, 0.87);
}

::selection {
		background-color: $selection_bkg;
		color: rgba(0, 0, 0, 0.87);
}

// Other components & utilities
.wrapper {
	margin-left: 4em;
}

.text {
	background: none;
	background-color: none;
}

.clearfix {
	overflow: auto;
	zoom: 1;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}