.fixed {
	position: fixed;
	&.top {
		bottom: auto;
    	top: 0;
	}
	&.bottom {
		top: auto;
		bottom: 0;
	}
}

.dotted {
	border-style: dotted;
	&.text {
		border-bottom-width: 1px;
	}
}

.dashed {
	border-style: dashed;
	&.text {
		border-bottom-width: 1px;
	}
}

// Color mixes
.primary {
	&.text, [class*="text-"] { color: $primary_color; }
}

.secondary {
	&.text, [class*="text-"] { color: $secondary_color; }
}

.red {
	&.text, [class*="text-"] { color: $red_color; }
}

.green {
	&.text, [class*="text-"] { color: $green_color; }
}

.brown {
	&.text, [class*="text-"] { color: $brown_color; }
}

.orange {
	&.text, [class*="text-"] { color: $orange_color; }
}

.purple {
	&.text, [class*="text-"] { color: $purple_color; }
}

.yellow {
	&.text, [class*="text-"] { color: $yellow_color; }
}

.pink {
	&.text, [class*="text-"] { color: $pink_color; }
}

.darkgreen {
	&.text, [class*="text-"] { color: $darkgreen_color; }
}

.cyan {
	&.text, [class*="text-"] { color: $cyan_color; }
}

// Text mixes
.text {
	&-mini {
		font-size: 9px;
	}
	&-small {
		font-size: 12px;
	}
	&-big {
		font-size: 20px;
	}
	&-giant {
		font-size: 32px;
	}
}

section {
	&.primary {
		background: $primary_bkg;
		margin-bottom: 46px;
		& small {
		    color: $primary_color;
		}
	}
	&.secondary {
		background: $secondary_bkg;
		margin-bottom: 46px;
		& small {
		    color: $secondary_color;
		}
	}
}