// Buttons mixes
@import 'button/mixes';

// Panels mixes
@import 'panel/mixes';

.fixed {
	position: fixed;
	&.top {
		bottom: auto;
    top: 0;
	}
	&.bottom {
		top: auto;
		bottom: 0;
	}
}

.dotted {
	border-style: dotted;
	&.text {
		border-bottom-width: 1px;
	}
}

.dashed {
	border-style: dashed;
	&.text {
		border-bottom-width: 1px;
	}
}

// Element positioning mixes
.right {
	margin-left: auto;
}

.left {
	margin-right: auto;
}

// Color mixes
.text {
	&.primary {
		color: $primary_color;
	}
	&.secondary {
		color: $secondary_color;
	}
	&.red {
		color: $red_color;
	}
	&.green {
		color: $green_color;
	}
	&.brown {
		color: $brown_color;
	}
	&.orange {
		color: $orange_color;
	}
	&.purple {
		color: $purple_color;
	}
	&.yellow {
		color: $yellow_color;
	}
	&.pink {
		color: $pink_color;
	}
	&.darkgreen {
		color: $darkgreen_color;
	}
	&.cyan {
		color: $cyan_color;
	}
}

section {
	&.primary {
		background: $primary_bkg;
	}
	&.secondary {
		background: $secondary_bkg;
	}
}