/**
 * Tadaima base component
 */

// Too much important files for all
@import 'reset';
@import 'variables';
@import 'mixins';

// All component mixes, temporally here
@import 'mixes';

html, body {
	font: $font_size $site_fonts;
	color: $body_text;
	width: $site_width;
	margin: 0;
	line-height: 1.4285em;
	font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
}

/** Basic overrides */
a,
a:active,
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: $primary_color;
}

/** HTML elements formatting */
b, strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

abbr[title] {
	cursor: help;
  border-bottom: 2px dashed $yellow_color;
}

h1, h2, h3, h4, h5 {
  font-family: $font_size $site_fonts;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.28rem;
}

h4 {
  font-size: 1.071rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
	border-bottom: 2px solid $okaeri_bkg;
	margin-top: 34px;
  margin-bottom: 32px;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	border: 0;
	&.omusubi {
		@include border-radius(50%);
	}
}

/** Highlighting */
::-webkit-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: $primary_color;
  color: rgba(0, 0, 0, 0.87);
}

/** Other components & utilities */
.wrapper {
	margin-bottom: 24px;
}

.text {
	background: none;
	background-color: none;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}
