/**
 * Element mixes
 */
.omusubi {
	@include border-radius(2px);
	&.panel {
		@include border-radius(50%);
		width: 20vw;
    	vertical-align: middle;
    	text-align: center;
    	height: 20vw;
    	padding-top: 40%;
	}
}

.fixed {
	position: fixed;
	&.top {
		bottom: auto;
    top: 0;
	}
	&.bottom {
		top: auto;
		bottom: 0;
	}
}

.dotted {
	border-style: dotted;
	&.text {
		border-bottom-width: 1px;
	}
}

.dashed {
	border-style: dashed;
	&.text {
		border-bottom-width: 1px;
	}
}

/**
 * Element positioning mixes
 */
.right {
	margin-left: auto;
}

.left {
	margin-right: auto;
}

/**
 * Color mixes
 */
.primary {
	background-color: $primary_color;
	&.alt {
		background-color: transparent;
		border-color: $primary_color;
		color: $primary_color;
		&.alt:hover,
		&.alt:focus {
			background-color: $primary_color;
			color: $default_text;
		}
	}
	&.panel {
		border-color: $primary_color;
		color: $primary_color;
		background-color: $fix_primary_bkg;
		background-color: $primary_bkg;
		& a {
			font-weight: bold;
			border-bottom: $primary_color dashed 1px;
			color: $primary_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $primary_color;
			}
		}
	}
	&.text {
		color: $primary_color;
	}
}

.secondary {
	background-color: $secondary_color;
	&.alt {
		background-color: transparent;
		border-color: $secondary_color;
		color: $secondary_color;
		&:hover,
		&:focus {
			background-color: $secondary_color;
			color: $default_text;
		}
	}
	&.panel {
		border-color: $secondary_color;
		color: $secondary_color;
		background-color: $fix_secondary_bkg;
		background-color: $secondary_bkg;
		& a {
			font-weight: bold;
			border-bottom: $secondary_color dashed 1px;
			color: $secondary_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $secondary_color;
			}
		}
	}
	&.text {
		color: $secondary_color;
	}
}

.red {
	background-color: $red_color;
	&.alt {
		background-color: transparent;
		border-color: $red_color;
		color: $red_color;
		&:hover,
		&:focus {
			background-color: $red_color;
			color: $default_text;
		}
	}
	&.panel {
		border-color: $red_color;
		color: $red_color;
		background-color: $fix_red_bkg;
		background-color: $red_bkg;
		& a {
			font-weight: bold;
			border-bottom: $red_color dashed 1px;
			color: $red_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $red_color;
			}
		}
	}
	&.text {
		color: $red_color;
	}
}

.black {
	background-color: $black_color;
	&.alt {
		background-color: transparent;
		border-color: $black_color;
		color: $black_color;
		&:hover,
		&:focus {
			background-color: $black_color;
			color: $default_text;
		}
	}
}

.green {
	background-color: $green_color;
	&.alt {
		background-color: transparent;
		border-color: $green_color;
		color: $green_color;
		&:hover,
		&:focus {
			background-color: $green_color;
			color: $default_text;
		}
	}
	&.panel {
		border-color: $green_color;
		color: $green_color;
		background-color: $fix_green_bkg;
		background-color: $green_bkg;
		& a {
			font-weight: bold;
			border-bottom: $green_color dashed 1px;
			color: $green_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $green_color;
			}
		}
	}
	&.text {
		color: $green_color;
	}
}

.brown {
	background-color: $brown_color;
	&.alt {
		background-color: transparent;
		border-color: $brown_color;
		color: $brown_color;
		&:hover,
		&:focus {
			background-color: $brown_color;
			color: $default_text;
		}
	}
	&.text {
		color: $brown_color;
	}
}

.orange {
	background-color: $orange_color;
	&.alt {
		background-color: transparent;
		border-color: $orange_color;
		color: $orange_color;
		&:hover,
		&:focus {
			background-color: $orange_color;
			color: $default_text;
		}
	}
	&.text {
		color: $orange_color;
	}
}

.purple {
	background-color: $purple_color;
	&.alt {
		background-color: transparent;
		border-color: $purple_color;
		color: $purple_color;
		&:hover,
		&:focus {
			background-color: $purple_color;
			color: $default_text;
		}
	}
	&.text {
		color: $purple_color;
	}
}

.yellow {
	background-color: $yellow_color;
	&.alt {
		background-color: transparent;
		border-color: $yellow_color;
		color: $yellow_color;
		&:hover,
		&:focus {
			background-color: $yellow_color;
			color: $default_text;
		}
	}
	&.panel {
		border-color: $yellow_color;
		color: $yellow_color;
		background-color: $fix_yellow_bkg;
		background-color: $yellow_bkg;
		& a {
			font-weight: bold;
			border-bottom: $yellow_color dashed 1px;
			color: $yellow_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $yellow_color;
			}
		}
	}
	&.text {
		color: $yellow_color;
	}
}

.pink {
	background-color: $pink_color;
	&.alt {
		background-color: transparent;
		border-color: $pink_color;
		color: $pink_color;
		&:hover,
		&:focus {
			background-color: $pink_color;
			color: $default_text;
		}
	}
	&.text {
		color: $pink_color;
	}
}

.darkgreen {
	background-color: $darkgreen_color;
	&.alt {
		background-color: transparent;
		border-color: $darkgreen_color;
		color: $darkgreen_color;
		&:hover,
		&:focus {
			background-color: $darkgreen_color;
			color: $default_text;
		}
	}
	&.text {
		color: $darkgreen_color;
	}
}

.cyan {
	background-color: $cyan_color;
	&.alt {
		background-color: transparent;
		border-color: $cyan_color;
		color: $cyan_color;
		&:hover,
		&:focus {
			background-color: $cyan_color;
			color: $default_text;
		}
	}
	&.text {
		color: $cyan_color;
	}
}
