// Tadaima special
$version: "0.3.4";

// Font sizes and families
$font_size: 14px !default;
$site_fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

// Component sizes and metrics
$site_width: 100% !default;
$container_margins: 156px !default;
$body_line_height: 1.8125em !default;
$navs_font_size: 14px !default;

// Colors
$body_text: #4a4a4a !default;
$default_text: #FFFFFF !default;
$primary_color: #47a3da !default;
$secondary_color: #999999 !default;

// UI added colors
$red_color: #f08080 !default;
$black_color: #545454 !default;
$green_color: #2ecc71 !default;
$brown_color: #BC8F8F !default;
$orange_color: #FFA07A !default;
$purple_color: #9370DB !default;
$yellow_color: #c7a800 !default;
$pink_color: #FFB6C1 !default;
$darkgreen_color: #2E8B57 !default;
$cyan_color: #87CEFA !default;

// Specific component colors
$real_white: #FFFFFF !default;
$bkg_real_black: #000000 !default;
$okaeri_bkg: #ecf0f1 !default;
$selection_bkg: rgba(71, 163, 218, 0.6) !default;
$navs_hover_bkg: rgba(10, 10, 10, 0.1) !default;

// Background colors
$primary_bkg: rgba(71, 163, 218, 0.4) !default;
$secondary_bkg: rgba(153, 153, 153, 0.4) !default;
$red_bkg: rgba(240, 128, 128, 0.4) !default;
$black_bkg: rgba(84, 84, 84, 0.4) !default;
$green_bkg: rgba(46, 204, 112, 0.4) !default;
$brown_bkg: rgba(188, 143, 143, 0.4) !default;
$orange_bkg: rgba(255, 160, 122, 0.4) !default;
$purple_bkg: rgba(147, 112, 219, 0.4) !default;
$yellow_bkg: rgba(255, 215, 0, 0.3) !default;
$pink_bkg: rgba(255, 182, 193, 0.4) !default;
$darkgreen_bkg: rgba(46, 139, 87, 0.4) !default;
$cyan_bkg: rgba(135, 206, 250, 0.4) !default;

// IE8 RGBa fixes
$fix_primary_bkg: rgb(153, 205, 243) !default;
$fix_secondary_bkg: rgb(204, 204, 204) !default;
$fix_red_bkg: rgb(239, 172, 172) !default;
$fix_black_bkg: rgb(169, 169, 169) !default;
$fix_green_bkg: rgb(153, 226, 161) !default;
$fix_brown_bkg: rgb(205, 174, 153) !default;
$fix_orange_bkg: rgb(243, 189, 153) !default;
$fix_purple_bkg: rgb(215, 171, 235) !default;
$fix_yellow_bkg: rgb(243, 225, 153) !default;
$fix_pink_bkg: rgb(255, 187, 246) !default;
$fix_darkgreen_bkg: rgb(153, 198, 157) !default;
$fix_cyan_bkg: rgb(153, 232, 245) !default;