
.d {
  @each $breakpoint in map-keys($breakpoints) {
    $prefix: breakpoint-prefix($breakpoint);

    @include breakpoint-up($breakpoint) {
      &#{$prefix}-none { display: none; }
      &#{$prefix}-flex { display: flex; }
      &#{$prefix}-block { display: block; }
      &#{$prefix}-inline { display: inline; }
      &#{$prefix}-inline-block { display: inline-block; }
    }
  }
}
