@each $breakpoint in map-keys($breakpoints) {
  $prefix: breakpoint-prefix($breakpoint);

  .flex {
    &#{$prefix}-row { flex-direction: row; }
    &#{$prefix}-row-reverse { flex-direction: row-reverse; }
    &#{$prefix}-column { flex-direction: column; }
    &#{$prefix}-column-reverse { flex-direction: column-reverse; }

    &#{$prefix}-wrap { flex-wrap: wrap; }
    &#{$prefix}-nowrap { flex-wrap: nowrap; }
    &#{$prefix}-wrap-reverse { flex-wrap: wrap-reverse; }
  }

  .justify-content {
    &#{$prefix}-start { justify-content: flex-start; }
    &#{$prefix}-end { justify-content: flex-end; }
    &#{$prefix}-center { justify-content: center; }
    &#{$prefix}-between { justify-content: space-between; }
    &#{$prefix}-around { justify-content: space-around; }
    &#{$prefix}-evenly { justify-content: space-evenly; }
  }

  .align-items {
    &#{$prefix}-start { align-items: flex-start; }
    &#{$prefix}-end { align-items: flex-end; }
    &#{$prefix}-center { align-items: center; }
    &#{$prefix}-baseline { align-items: baseline; }
    &#{$prefix}-stretch { align-items: stretch; }
  }

  .align-content {
    &#{$prefix}-start { align-content: flex-start; }
    &#{$prefix}-end { align-content: flex-end; }
    &#{$prefix}-center { align-content: center; }
    &#{$prefix}-between { align-content: space-between; }
    &#{$prefix}-around { align-content: space-around; }
    &#{$prefix}-stretch { align-content: stretch; }
  }

  .align-self {
    &#{$prefix}-auto { align-self: auto; }
    &#{$prefix}-start { align-self: flex-start; }
    &#{$prefix}-end { align-self: flex-end; }
    &#{$prefix}-center { align-self: center; }
    &#{$prefix}-baseline { align-self: baseline; }
    &#{$prefix}-stretch { align-self: stretch; }
  }

  .order {
    @for $i from 1 through $flex-max-order {
      &-#{$i} { order: $i; }
    }
  }

}
