.sushi {
  border-style: dashed !important;

  // Small fix for panels
  &.panel {
    outline-color: none;
    border: none;
  }
}

.omusubi {
  @include border-radius(2px);
}

.onigiri {
  @include border-radius(50%);

  @each $size, $value in $onigiri-sizes {
    &-#{$size} {
      @include border-radius(50%);
      font-size: $value;
    }
  }
}
