// stylelint-disable declaration-no-important

// Width and height

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}

.fit { max-width: 100% !important; }

// Fixed sizes with equal width and height
@each $size, $length in $fixed-sizes {
  .s-#{$size} {
    width: $length !important;
    height: $length !important;
  }
}
