// stylelint-disable declaration-no-important

//
// Text utilities
//

.#{$text-prefix} {
  // Weight
  &w-light { font-weight: $text-weight-light !important; }
  &w-semibold { font-weight: $text-weight-semibold !important; }
  &w-bold { font-weight: $text-weight-bold !important; }

  // Alignment
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }

  // Transformation
  &-uppercase { text-transform: uppercase; }
  &-capitalize { text-transform: capitalize; }
  &-lowercase { text-transform: lowercase; }

  // Color
  @each $color, $value in $ui-colors {
    &-#{$color} { color: $value !important; }
  }
  &-white { color: $gray-00 !important; }

  // Sizing
  @each $size, $value in $text-sizes {
    &-#{$size} { font-size: $value !important; }
  }

  // Spacing
  @each $size, $value in $text-line-height-sizes {
    &l-#{$size} { line-height: $value !important; }
  }
}
