// stylelint-disable declaration-no-important

//
// Text utilities
//

.t {
  // Text weights
  &w-light { font-weight: $font-weight-light !important; }
  &w-semibold { font-weight: $font-weight-semibold !important; }
  &w-bold { font-weight: $font-weight-bold !important; }

  // Text aligns
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }

  // Text colors
  @each $color, $value in $ui-colors {
    &-#{$color} {
      color: $value !important;
    }
  }
  &-white a {
    color: $white !important;
  }

  // Text sizes
  @each $size, $value in $text-sizes {
    &-#{$size} {
      font-size: $value !important;
    }
  }
}
