.panel {
	&.omusubi {
		@include border-radius(4px);
	}
	&.onigiri {
		@include border-radius(50%);
		width: 20vw;
		vertical-align: middle;
		text-align: center;
		height: 20vw;
		padding-top: 40%;
	}
	&.sushi {
		outline: 2px dashed;
		outline-color: none;
		border: none;
	}
	// Color variations
	&.primary {
		outline-color: $primary_color;
		border-color: $primary_color;
		color: $primary_color;
		background-color: $fix_primary_bkg;
		background-color: $primary_bkg;
		& a {
			font-weight: bold;
			border-bottom: $primary_color dashed 1px;
			color: $primary_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $primary_color;
			}
		}
	}
	&.secondary {
		outline-color: $secondary_color;
		border-color: $secondary_color;
		color: $secondary_color;
		background-color: $fix_secondary_bkg;
		background-color: $secondary_bkg;
		& a {
			font-weight: bold;
			border-bottom: $secondary_color dashed 1px;
			color: $secondary_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $secondary_color;
			}
		}
	}
	&.red {
		outline-color: $red_color;
		border-color: $red_color;
		color: $red_color;
		background-color: $fix_red_bkg;
		background-color: $red_bkg;
		& a {
			font-weight: bold;
			border-bottom: $red_color dashed 1px;
			color: $red_color;
			&:hover {
				text-decoration: none;
				color: $red_color;
			}
		}
	}
	&.green {
		outline-color: $green_color;
		border-color: $green_color;
		color: $green_color;
		background-color: $fix_green_bkg;
		background-color: $green_bkg;
		& a {
			font-weight: bold;
			border-bottom: $green_color dashed 1px;
			color: $green_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $green_color;
			}
		}
	}
	&.yellow {
		outline-color: $yellow_color;
		border-color: $yellow_color;
		color: $yellow_color;
		background-color: $fix_yellow_bkg;
		background-color: $yellow_bkg;
		& a {
			font-weight: bold;
			border-bottom: $yellow_color dashed 1px;
			color: $yellow_color;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $yellow_color;
			}
		}
	}
}