//
// Buttons
//

// stylelint-disable selector-no-qualifying-type
button,
input[type="button"],
a[role="button"] {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;

  & svg {
    width: 1rem;
    height: auto;
  }

  &:active {
    cursor: pointer;
  }
}
// stylelint-enable selector-no-qualifying-type
