//
// Form inputs
//

input {
  border: 1px solid $input-border;
  padding: 8px 6px;
  border-radius: 2px;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $ui-secondary;
  }
}

.control {
  position: relative;
  margin-bottom: 12px;

  &[class^="with-"] > input,
  &[class*="with-"] > input {
    padding-right: 32px;
  }

  &.with-icon i,
  &.with-icon span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 6px 6px;
    color: $ui-secondary;
  }

  &.with-icon svg {
    width: 18px;
    height: auto;
  }

  &.with-button button {
    @extend .secondary;
    position: absolute;
    right: 0;
    top: 0;
    @include border-radius(2px);
    padding: 7px 6px 6px;
  }

  &.with-button button i {
    position: relative;
    top: 1px;
  }
}

// Placeholder custom color
::placeholder {
  color: $placeholder-color;
}
