//
// Menus
//

.nav-primary {
  max-height: 54px;
  text-align: center;
  border: none;

  & ul {
    display: inline-flex;
    align-items: center;
    height: 54px;
    list-style: none;
  }

  & ul .item {
    display: inline-flex;
    padding: 10px 20px;
    margin-right: 8px;
    color: $body-color;
    cursor: pointer;
    user-select: none;
    background-color: $ui-primary;
    background-image: none;
  }

  & ul .item.active {
    padding: 8px 18px;
    background-color: transparent;
    border: 2px solid $ui-primary;
  }

  & ul .item.active:active {
    border-color: $white;
  }

  & ul li a {
    color: $body-color;
  }

  & ul li select {
    appearance: inherit;
    padding: 8px 18px;
    color: $body-color;
    background: transparent;
    border: 2px solid $ui-primary;
    outline: none;
  }

  & ul li select option {
    display: inherit;
    padding: 4px 2px;
    font-weight: inherit;
    color: $body-color;
    border: 0;
  }

  & ul li select option:hover,
  ul li select option:focus {
    background-color: $ui-primary;
  }
}

nav .header {
  display: inline-flex;
  margin-right: 26px;
}

.nav-vertical {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #f7f7f7;

  & ul {
    margin-left: 0;
    list-style-type: none;
  }

  & ul li a {
    position: relative;
    display: block;
    width: 4em;
    height: 4em;
    line-height: 4em;
    color: #999;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    @include transition(background .1s ease-in-out);
  }

  & ul li a:hover,
  ul li a:first-child a {
    color: $body-color;
    background: $ui-primary;
  }

  /* current item */
  & ul li.active a {
    color: #47a3da;
    background: #fff;
  }
}

.off-canvas {
  position: fixed;
  top: 0;
  bottom: auto;
  margin: 15px 10px;
  font-size: 26px;
}

footer nav {
  font-size: 1.2em;
  text-transform: capitalize;

  & ul {
    margin-left: 0;
    list-style-type: none;
  }

  & ul li {
    position: relative;
    display: inline-block;
    margin-right: 46px;
  }

  & ul li a {
    color: $body-color;
  }

  & ul li ul {
    position: absolute;
    bottom: 100%;
    left: calc(50% - 6px);
    display: block;
    visibility: hidden;
    background: #f7f7f7;
    transition: visibility .3s;
    transform: translateX(-26px) translateY(-20px);
  }

  & ul li ul li {
    width: 100%;
    margin: 0;
    border: solid transparent;
  }

  & ul li ul li::after {
    position: absolute;
    content: "";
    border-top: 6px solid #f7f7f7;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateX(26px);
  }

  & ul li ul li a {
    display: block;
    padding: 4px 14px;
    color: $ui-primary;
  }

  & ul li ul li a:hover {
    color: $body-color;
    background-color: $ui-primary;
  }

  & ul li:hover > ul {
    visibility: visible;
  }
}
