// stylelint-disable selector-no-qualifying-type

//
// Menus
//

nav {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  & li { list-style: none; }
  &.has-active a:not(.active) { color: $gray-00; }
}

.unstyled a {
  color: $gray-00 !important;
}
