// Okaeri

header {
  padding: 48px 60px 0;
}

.okaeri {
  display: block;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 0;
  background: $okaeri-bg;

  & h2 {
    margin-bottom: 12px;
  }

  & .action {
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;
  }

  & .action button,
  .action a[role="button"] {
    padding: 12px 32px;
  }

  & .action button.alt,
  .action a[role="button"].alt {
    padding: 10px 30px;
  }

  // Nav menu - fix multi level
  & nav {
    display: flex;
    list-style: none;
    align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    -ms-box-orient: horizontal;

    & li {
      display: flex;
      cursor: pointer;
    }

    & li a {
      //font-size: $navs_font_size;
      background-image: none;
      padding: 8px 16px;
      @include border-radius(2px 2px 0 0);
      user-select: none;
      color: $body-color;
    }

    & li a:focus,
    li a:hover {
      background-color: $menu-tabs-hover-bg;
    }

    & li.active > a {
      padding: 8px 16px;
      background-color: $white;
    }
  }
}
