//
// Panels
//

.panel {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 12px 0;
  overflow: hidden;

  & > h4 {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 6px;
  }

  & > .icon {
    vertical-align: top;
  }

  & > p {
    position: relative;
    z-index: 1;
  }

  & a {
    font-weight: 600;
  }
}
