//
// Progress
//

progress[value] {
  position: relative;
  appearance: none;
  text-align: center;
  border: none;
  width: 100%;
  height: 12px;

  // No border in IE
  &::-ms-fill {
    border: none;
  }

  // Background color
  &::-webkit-progress-bar {
    background-color: $progress-bg;
  }

  // Progress value
  &.value::after {
    content: attr(value);
    position: absolute;
    color: $white !important;
    top: -7px;
    font-size: 12px;
  }

  // Bar colors
  @each $color, $value in $ui-colors {
    &.#{$color} { color: $value; }

    &.#{$color}::-webkit-progress-value {
      background-color: $value;
    }

    &.#{$color}::-moz-progress-bar {
      background-color: $value;
    }
  }
}
