//
// Tables
//

table {
  background-color: $table-bg;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  // stylelint-disable selector-max-type
  thead th {
    font-weight: $text-weight-bold;
    text-align: left;
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
  // stylelint-enable selector-max-type
}
