.panel {
  &.omusubi {
    @include border-radius(4px);
  }
  &.onigiri {
    @include border-radius(50%);
    width: 20vw;
    vertical-align: middle;
    text-align: center;
    height: 20vw;
    padding-top: 40%;
  }
  &.sushi {
    outline: 2px dashed;
    outline-color: none;
    border: none;
  }
  // Color variations
  &.primary {
    outline-color: $primary_color;
    border-color: $primary_color;
    color: $primary_color;
    background-color: $primary_bkg;
    & a {
      border-bottom: $primary_color dashed 1px;
      color: $primary_color;
    }
    & a:hover,
    a:focus {
      text-decoration: none;
      border-bottom-style: solid;
      color: $primary_color;
    }
  }
  &.secondary {
    outline-color: $secondary_color;
    border-color: $secondary_color;
    color: $secondary_color;
    background-color: $secondary_bkg;
    & a {
      border-bottom: $secondary_color dashed 1px;
      color: $secondary_color;
    }
    & a:hover,
    a:focus {
      text-decoration: none;
      border-bottom-style: solid;
      color: $secondary_color;
    }
  }
  &.red {
    outline-color: $red_color;
    border-color: $red_color;
    color: $red_color;
    background-color: $red_bkg;
    & > i.feat:first-child {
      color: rgba(240, 128, 128, 0.5);
    }
    & a {
      border-bottom: $red_color dashed 1px;
      color: $red_color;
    }
    & a:hover {
      text-decoration: none;
      border-bottom-style: solid;
      color: $red_color;
    }
  }
  &.green {
    outline-color: $green_color;
    border-color: $green_color;
    color: $green_color;
    background-color: $green_bkg;
    & > i.feat:first-child {
      color: rgba(66, 209, 127, 0.5);
    }
    & a {
      border-bottom: $green_color dashed 1px;
      color: $green_color;
    }
    & a:hover,
    a:focus {
      text-decoration: none;
      border-bottom-style: solid;
      color: $green_color;
    }
  }
  &.yellow {
    outline-color: $yellow_color;
    border-color: $yellow_color;
    color: $yellow_color;
    background-color: $yellow_bkg;
    & > i.feat:first-child {
      color: rgba(206, 178, 22, 0.5);
    }
    & a {
      border-bottom: $yellow_color dashed 1px;
      color: $yellow_color;
    }
    & a:hover,
    a:focus {
      text-decoration: none;
      border-bottom-style: solid;
      color: $yellow_color;
    }
  }
}