/* Tooltip */
[class*="tooltip-"],
[class*="onigiri-"] {
    position: relative;
    display: inline-block;
    // Both
    &:hover:before, &:hover:after {
        visibility: visible;
        opacity: 1;
    }
    &:hover:before, &:hover:after {
        @include transition-delay(100ms);
    }
    &:before, &:after {
        position: absolute;
        visibility: hidden;
        @include translate3d(0, 0, 0);
        opacity: 0;
        z-index: 1000000;
        pointer-events: none;
    }
    // Tooltip arrow
    &:before {
        content: '';
        position: absolute;
        background: transparent;
        border: 6px solid transparent;
        z-index: 1000001;
    }
    /* Tooltip content */
    &:after {
        visibility: hidden;
        background: $black_color;
        color: $default_text;
        @include border-radius(4px);
        padding: 8px 16px;
        line-height: 12px;
        white-space: nowrap;
    }
    // Attach content to tooltip
    &[aria-label]:after {
        content: attr(aria-label);
    }
}

/* Tooltip positions */
// Top
.onigiri-top:before,
.tooltip-top:before {
    border-top-color: $black_color;
}

.onigiri-top:before,
.onigiri-top:after,
.tooltip-top:before,
.tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

.onigiri-top:before,
.tooltip-top:before {
    left: calc(50% - 6px);
}

.onigiri-top:after,
.tooltip-top:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.onigiri-top:after,
.tooltip-top:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.onigiri-top:hover:before,
.tooltip-top:hover:before {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  transform: translateY(6px);
}

.onigiri-top:hover:after,
.tooltip-top:hover:after {
  -webkit-transform: translateX(-50%) translateY(-6px);
  -moz-transform: translateX(-50%) translateY(-6px);
  transform: translateX(-50%) translateY(-6px);
}

// Bottom
.onigiri-bottom:before,
.tooltip-bottom:before {
    border-bottom-color: $black_color;
}

.onigiri-bottom:before,
.onigiri-bottom:after,
.tooltip-bottom:before,
.tooltip-bottom:after {
    top: 100%;
    left: 50%;
}

.onigiri-bottom:before,
.tooltip-bottom:before {
    left: calc(50% - 6px);
}

.onigiri-bottom:after,
.tooltip-bottom:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.onigiri-bottom:hover:before,
.tooltip-bottom:hover:before {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  transform: translateY(-4px);
}

.onigiri-bottom:hover:after,
.tooltip-bottom:hover:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

// Right
.onigiri-right:before,
.tooltip-right:before {
    margin-bottom: -8px;
    border-right-color: $black_color;
}

.onigiri-right:after,
.tooltip-right:after {
    margin-bottom: -16px;
}

.onigiri-right:before,
.onigiri-right:after,
.tooltip-right:before,
.tooltip-right:after {
    left: 100%;
    bottom: 50%;
}

.onigiri-right:hover:after,
.tooltip-right:hover:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}

// Left
.onigiri-left:before,
.tooltip-left:before {
    margin-bottom: -8px;
    border-left-color: $black_color;
}

.onigiri-left:after,
.tooltip-left:after {
    margin-bottom: -16px;
}

.onigiri-left:before,
.onigiri-left:after,
.tooltip-left:before,
.tooltip-left:after {
    right: 100%;
    bottom: 50%;
}

.onigiri-left:hover:after,
.tooltip-left:hover:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px); }