/**
 * Nav menus
 */
.okaeri nav {
    display: flex;
    list-style: none;
    align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    -ms-box-orient: horizontal;
    & li {
        display: flex;
        cursor: pointer;
        background-image: none;
        padding: 8px 16px;
        @include border-radius(2px 2px 0 0);
        @include user-select(none);
        &:focus,
        &:hover {
            background-color: $navs_hover_bkg;
        }
        & a {
            //font-size: $navs_font_size;
            color: $body_text;
        }
        &.active {
            padding: 8px 18px;
            background-color: $real_white;
        }
    }
}
